@model tpm.dto.admin.UserLoginReq
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>TPM - Đăng nhập</title>

	<!-- Global stylesheets -->
	<link href="/assets/fonts/inter/inter.css" rel="stylesheet" type="text/css">
	<link href="/assets/icons/phosphor/styles.min.css" rel="stylesheet" type="text/css">
	<link href="/assets/css/ltr/all.min.css" id="stylesheet" rel="stylesheet" type="text/css">
	<!-- /global stylesheets -->
	<!-- Core JS files -->
	<script src="/assets/js/bootstrap/bootstrap.bundle.min.js"></script>
	<!-- /core JS files -->
	<!-- Theme JS files -->
	<script src="/assets/js/app.js"></script>
	<!-- /theme JS files -->
	<script src="/angular-1.8.2/angular.min.js"></script>
    <script src="/script-handler/app/angularjs-plugin.min.js"></script>
    <script src="/script-handler/app/app-bundle.min.js"></script>
</head>

<body ng-app="MyApp">

	<!-- Page content -->
	<div class="page-content">

		<!-- Main content -->
		<div class="content-wrapper">

			<!-- Inner content -->
			<div class="content-inner">

				<!-- Content area -->
				<div class="content d-flex justify-content-center align-items-center">

					<!-- Login card -->
					@using (Html.BeginForm("Login", "Accounts", FormMethod.Post, new { @class = "login-form" }))
					{
						<div class="card mb-0">
							<div class="card-body">
								<div class="text-center mb-3">
									<div class="d-inline-flex align-items-center justify-content-center mt-2">
										<img src="/tpm/images/logo1.png" class="h-80px" alt="">
									</div>
								</div>

								<div class="mb-3">
									<label class="form-label">Email hoặc Số điện thoại</label>
									<div class="form-control-feedback form-control-feedback-start">
										@Html.TextBoxFor(model => model.keyword, new { @class = "form-control" })
										@*<input type="text" class="form-control" placeholder="Email hoặc Số điện thoại">*@
										<div class="form-control-feedback-icon">
											<i class="ph-user-circle text-muted"></i>
										</div>
										<span class="text-danger">@Html.ValidationMessageFor(model => model.keyword)</span>
									</div>
								</div>

								<div class="mb-3">
									<label class="form-label">Password</label>
									<div class="form-control-feedback form-control-feedback-start">
										@Html.PasswordFor(model => model.password, new { @class = "form-control" })
										<span class="text-danger">@Html.ValidationMessageFor(model => model.password)</span>
										@*<input type="password" class="form-control" placeholder="•••••••••••">*@
										<div class="form-control-feedback-icon">
											<i class="ph-lock text-muted"></i>
										</div>
									</div>
								</div>
@*
								<div class="d-flex align-items-center mb-3">
									<label class="form-check">
										<input type="checkbox" name="remember" class="form-check-input" checked>
										<span class="form-check-label">Remember</span>
									</label>
								</div>*@

								<div class="mb-3">
									<button type="submit" class="btn btn-primary w-100">Đăng nhập</button>
								</div>
								<div class="mb-3">
									@Html.ValidationSummary(true)
								</div>
							</div>
						</div>
					}
					<!-- /login card -->

				</div>
				<!-- /content area -->

			</div>
			<!-- /inner content -->

		</div>
		<!-- /main content -->

	</div>
	<!-- /page content -->
	
</body>
</html>
